body{
    background-color: azure;
    
}

header {
    background-color: rgb(29, 9, 132);
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

footer {
    background-color: rgb(29, 9, 132);
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px 0;
}


/* Estilos para el carrusel */
.carousel-item img {
    height: 500px;
    object-fit: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-img-top {
    height: 450px;
    object-fit: cover;
}

